@media (max-width: 610px) {


.events__item {
 min-width: 290px;
}

.events-swiper-pagination {
padding-left: 205px;
}

.event-card__info{
padding-bottom: 150px;
}


.contacts-form {
margin-left: 0;
}
.contacts-form__input {
width: 400px;    
}
}