@media (max-width: 1023px) {
  .container {
    max-width: 698px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-top__container_width-60 {
    padding-top: 33px;
    padding-bottom: 31px;
    width: 100%;
  }
  .menu-touchscreen {
    padding-left: 60px; 
  }

  .hero__descr {
    margin-bottom: 133px;
    max-width: none;
  }

  .us__container {
    padding-top: 89px;
  }

  .us__descr {
    min-width: unset;
  }

  .gallery__container {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;
   
  }

  .categories{
    margin-top: 40px;
   }

  .gallery-filter {
    width: 43%;
  }
  .gallery-button {
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 0;
  }

  .choices__list--dropdown {
    z-index: 100;
    background-color: rgba(0,0,0, 0.7);
  }

  .gallery-filter__descr {
    position: relative;
    margin-bottom: 11px;
  }

  .gallery-slider {
    padding-top: 0;
    padding-bottom: 75px;
    
    width: 100%;
    
  }

  .tab-content__descr{
    margin-bottom: 21px;
    max-width: 669px;
  }

  .catalog__container {
    padding-bottom: 49px;
  }
  
  .catalog-content {
    flex-direction: column-reverse;
    
  }
  .accordion-header{
    max-width: 668px;
  }
  .accordion-wrap {
    width: 100%;
  }
  .accordion__btn {
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    color: var(--color-night-rider);
    line-height: 32px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
  }
  .accordion-left-wrap {
    width: 41%;
    min-height: 190px;
  }

  .accordion-left-wrap:before {
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
  }

  .accordion__list {
    column-count: 3;
    min-height: 338px;
    max-width: 668px;
   
    padding-right: 0;
  }

  .artist-card {
    padding-top: 50px;
    
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .artist-card__img {
    margin-bottom: 26px;
    max-width: 668px;
    max-height: 419px;
   
  }
  
  .events-swiper-container{
    overflow: hidden;
    width: 100%;
  }
  .events__container {
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 690px;
  }
  .events__list {
    max-width: 668px;
  }
  .events__item {
    min-width: 317px;
    max-height: 685px;
  }
  .events__title {
    padding-top: 5px;
    padding-left: 0;
  }
  .event-card__descr {
    padding-top: 3px;
  }
  .event-card__place,
  .event-card__time {
    text-align: right;
    margin-right: 0;
  }
  .event-card__title{
    margin-top: 3px;
  } 
  .event-card__link{
    margin-bottom: 30px;
  }
  .events-swiper-pagination {
    padding-top: 23px;
    padding-left: 305px;
    text-align: left;
  }
  .swiper-pagination-bullet:last-child {
    display: inline-block;
  }
  
  .event-card__img {
    width: 100%;
    height: 90%;
  }
  .artist-card__info {
   width: 100%;
  }
  
  .event-card__bottom {
    padding: 0 18px 0 18px;
    margin-top: -5px;
  }

  .event-card__info{
    padding: 3px 2px 38px 17px;
  }

  .editions__container {
    flex-direction: column;
    padding-top: 93px;
    padding-bottom: 63px;
  }

  .editions-left {
    width: 100%;
  }

  .editions__title {
    margin-bottom: 24px;
  }

  .editions-slide__img {
    margin-bottom: 14px;
  }

  .categories__wrap {
    margin-bottom: 20px;
  }

  .categories__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
  }

  .categories__item {
    margin-right: 58px;
  }

  .price__title {
    margin-bottom: 8px;
  }

  .editions-right {
    padding-top: 46px;
    width: 100%;
    max-width: none;
  }

  .editions-swiper-container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .editions-button {
    transform: translateX(-27px);
  }
  .projects__container {
    padding-bottom: 75px;
  }
  .projects__title {
    margin-bottom: 24px;
  }
  .projects__hidden{
  display: none;
}
  .projects__info {
    width: 100%;
    margin-bottom: 27px;
  }

  .projects__subtitle {
    margin-bottom: 30px;
  }

  .partners-slide{
    height: 108px;
    padding: 25px;

  }
  .contacts__container {
    
  }
  .contacts-left {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 40px;
  }
  .contacts-form__input {
    width: 324px;
    height: 50px;
  }
  .name-form{
   margin-left: 50px;
  }
  .phone-form{
  margin-left: 70px;
  }
  
  .contacts-form__btn {
    padding: 10px 30px;
    margin-right: 0;
    margin-left: 50px; 
  }
  .contacts-form__label {
    margin-bottom: 12px;
    margin-right: 20px;
  }
  .messengers {
    padding-top: 43px;
    margin-left: 50px;
  }

  .contacts-right {
    width: 100%;
    height: 700px;
  }

}
