@media (max-width: 870px) {
  .events__item_visible:nth-child(1n+3) {
    display: flex;
  }
  .header-top__container_width-60 {
    padding-top: 33px;
    padding-bottom: 31px;
    width: 100%;
  }

  .serch-form-close-btn::before,
  .serch-form-close-btn::after {
     width: 33px;
  }

  .header-top__container_width-60 .search-form-touchscreen__btn {
    margin-right: 7px;
  }

  .header-top__container_width-60 .search-form-touchscreen__label {
    margin-right: 23px;
  }

}
