html {
    box-sizing: border-box;
}
body{ min-width: 320px;}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff') 
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff') 
}
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff') 
}
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/open-sans-v20-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/open-sans-v20-latin_cyrillic-italic.woff') format('woff') 
}
*,
*::before,
*::after {
box-sizing: inherit;
}
  
:root {
    --color-white: #fff;
    --color-black: #000; 
    --color-night-rider: #333; 
    --color-amethyst: #9d5cd0; 
    --color-vl-grey: #cacaca;
    --color-whisper:#ececec;
    --color-pink-swan: #b6b6b6;
    --color-studio: #7943a4; 
    --color-nobel: #999; 
    --color-wisteria: #c283f3; 
    --color-dim-gray: #666;
    --color-mauve: #d1a9f0;
    --color-lime-green: #30bf39;
    --color-pink-sw: #b7b7b7;
    --color-dark-gray: #b0b0b0;
    --color-can-can: #d88f99;
    --color-whisp : #eaeaea;
    --color-harley-davidson-orange : #d11616;
    --color-nero: #161616;
    --color-unactive: #bbb;
}


body {
margin: 0;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
}
  
img {
max-width: 100%;
}
.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0, 0.5);
z-index: 100;
opacity: 0;
visibility: hidden;
transition-property: opacity, visibility;
transition-duration: 0.3s;
transition-timing-function: ease-in-out;
}
  
.overlay-visible {
opacity: 1;
visibility: visible;
}
  
.site-container {
overflow: hidden;
}
  
.container {
max-width: 1700px;
margin: 0 auto;
padding: 0 50px;
overflow: hidden;
}
  
.title-reset { 
margin: 0;
padding: 0;
}
  
.p-reset { 
margin: 0;
padding: 0;
}
  
.list-reset { 
margin: 0;
padding: 0;
list-style-type: none;
}
  
.link-reset { 
color: inherit;
text-decoration: none;
}
.invisible{
  visibility: hidden;
}

.btn-reset {
padding: 0;
border: none;
background-color: transparent;
cursor: pointer;
}
  
.fieldset-reset {
margin: 0;
padding: 0;
border: none;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primery {
border: 3px solid var(--color-amethyst);
border-radius: 100px;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: var(--color-white);
background-color: var(--color-amethyst);
}
  
.btn-secondary {
position: relative;
border: 2px solid var(--color-amethyst);
border-radius: 100px;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: var(--color-white);
background-color: transparent;

}
  
.descr {
line-height: 32px;
color:var(--night-rider);
}
  
/* Скрытый выбор перекрестного ввода */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
display: none;
}
  
.section-title {
font-size: 48px;
font-weight: 400;
line-height: 1;
color:var(--color-night-rider);
}
 
.ui-accordion-header-collapsed:hover {
  border-color: var(--color-amethyst);
}

.ui-state-hover .accordion__title {
  color: var(--color-amethyst);
  background-color: transparent;
}

.ui-state-hover::before {
  background-color: var(--color-mauve);
}

/*HEADER*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
  }
  
  .header-top {
    background-color: var(--color-black);
  }
  
  .header-top__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 28px;
    padding-bottom: 29px;
    max-width: 1700px;
  }
  
  .burger {
    display: none;
    width: 36px;
    height: 28px;
  }
  
  .header-nav-btn-close {
    display: none;
  }
  
  .logo-link {
    margin-right: 173px;
  }
  
  .logo__img {
    transform: translateY(2px);
    
  }
  
  .logo-link_unvisible {
    display: none;
  }
  
  .menu-touchscreen {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .header-nav {
    margin-right: auto;
    
  }
  
  .header-nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
  }
  
  .header-nav__item:not(:last-child) {
    margin-left: 0;
  }
  .header-nav__item:nth-child(2) {
   margin-left: 50px;
  }
  .header-nav__item:nth-child(3) {
    margin-left: 50px;
   }
  .header-nav__item:nth-child(4) {
  margin-left: 50px;
  }
  .header-nav__item:nth-child(5) {
    margin-left: 50px;
    }
  .header-nav__item:nth-child(6) {
    margin-left: 50px;
    }
  .header-nav__link {
    padding: 3px 6px 4px 6px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    transition: color 0.3s ease-in-out;
  }
  
  .header-nav__link:focus-visible {
    outline: none;
    background-color: var(--color-studio);
  }
  .header-nav__link:hover {
    color: var(--color-wisteria);
  }
  
  .header-nav__link:active {
    background-color: transparent;
    color: var(--color-studio);
  }
  
  .login {
    
    text-align: center;
    color: var(--color-white);
    font-size: 18px;
    line-height: 1;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    flex-shrink: 0;
  }
  
  .login-svg {
    margin-right: 3px;
    flex-shrink: 0;
  }
  
  .login-svg-color {
    transition: fill 0.3s ease-in-out;
  }
  
  .login:focus-visible {
    outline: none;
    background-color: var(--color-studio);
  }
  
  .login:active {
    color: var(--color-amethyst);
  }
  
  .login:active .login-svg-color {
    fill: var(--color-amethyst);
  }
  .login:hover {
    color: var(--color-wisteria);
    background-color: transparent;
  }

  .login:hover .login-svg-color {
    fill: var(--color-wisteria);
  }
  .search-form-touchscreen,
  .search-form-touchscreen__label {
    display: none;
  }
  
  .search-form-touchscreen__label {
    width: 100%;
  }
  
  .search-form-touchscreen_width-100pr {
    width: 100%;
  }
  
  .serch-form-close-btn {
    position: relative;
    padding: 2px;
    width: 34px;
    height: 34px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: none;
  }
  
  .serch-form-close-btn_visible {
    display: block;
  }
  
  .serch-form-close-btn_animate {
    opacity: 1;
  }
  
  .serch-form-close-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    transform: translateY(-50%) rotate(-45deg);
    transition: background-color 0.3s ease-in-out;
  }
  
  .serch-form-close-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: var(--color-white);
    transform: translateY(-50%) rotate(45deg);
    transition: background-color 0.3s ease-in-out;
  }
  
  .serch-form-close-btn:focus-visible {
    outline: none;
  }
  
  .serch-form-close-btn:focus-visible::before,
  .serch-form-close-btn:focus-visible::after {
    background-color: var(--color-amethyst);
  }
  
  .serch-form-close-btn:active::before,
  .serch-form-close-btn:active::after {
    background-color: var(--color-studio);
  }
  
  .header-bottom {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .header-bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 13px;
    max-width: 1640px;
  }
  
  .header-bottom-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header-bottom-nav__item {
    position: relative;
    transition: color 0.3s ease-in-out;
    
  }
  
  .header-bottom-nav__item:not(:last-child) {
    margin-right: 83.5px;
  }
  
  .header-bottom-nav__item:nth-child(3) {
    margin-right: 85px;
  }
  
  .header-bottom-nav__item:nth-child(4) {
    margin-right: 85px;
  }
  
  .header-bottom-nav__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 4px 22px 4px 7px;
    color: var(--color-white);
    font-size: 18px;
    line-height: 1;
    transition: color 0.3s ease-in-out;
  }
  
  .header-bottom-nav__btn::after {
    content: "";
    position: absolute;
    right: 9px;
    width: 7px;
    height: 7px;
    border-right: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    transform: rotate(45deg);
    transition: border-color 0.3s ease-in-out;
  }
  
  .header-bottom-nav__btn:focus-visible {
    outline: none;
    background-color: var(--color-studio);
  }
  .header-bottom-nav__btn:hover {
    color: var(--color-wisteria);
  }

  .header-bottom-nav__btn:hover::after {
    border-color: var(--color-wisteria);
  }

  .dropdown-link:hover {
    border: 2px solid  var(--color-amethyst);
  }

  .search-form:hover .search-field-form {
    border-color: var(--color-wisteria);
  }
  .rotait::after {
    transform: rotate(225deg) translate(-3px,-4px);
  }
  
  .dropdown-container {
    position: absolute;
    top:47px;
    left: 8px;
    display: block;
    padding: 40px 20px 40px 40px;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .dropdown-container.open {
    visibility: visible;
    opacity: 1;
  }
  
  .dropdown-simplebar {
    min-width: 240px;
    max-height: 220px;
    overflow: auto;
  }
  
  .dropdown-item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .dropdown-link {
    position: relative;
    display: block;
    padding: 11px 0;
    padding-left: 14px;
    width: 220px;
    height: 40px;
    border: 2px solid  transparent;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
    background-origin: border-box;
    transition: border 0.3s ease-in-out;
  }
  
  .dropdown-link:focus-visible {
    border: 2px solid  var(--color-amethyst);
    outline: none;
  }
  
  .dropdown-link:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background-color: transparent;
    background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .dropdown-link:active::after {
    opacity: 1;
  }
  .dropdown-link:active{
    border: 2px solid var(--color-mauve);
  }
  .dropdown-link-bg11 {
    background-image: url(../img/choice1_1.jpg);
  }
  
  .dropdown-link-bg12 {
    background-image: url(../img/choice1_2.jpg);
  }
  
  .dropdown-link-bg13 {
    background-image: url(../img/choice1_3.jpg);
  }
  
  .dropdown-link-bg14 {
    background-image: url(../img/choice1_4.jpg);
  }
  
  .dropdown-link-bg21 {
    background-image: url(../img/choice2_1.jpg);
  }
  
  .dropdown-link-bg22 {
    background-image: url(../img/choice2_2.jpg);
  }
  
  .dropdown-link-bg23 {
    background-image: url(../img/choice2_3.jpg);
  }
  
  .dropdown-link-bg24 {
    background-image: url(../img/choice2_4.jpg);
  }
  
  .dropdown-link-bg31 {
    background-image: url(../img/choice3_1.jpg);
  }
  
  .dropdown-link-bg32 {
    background-image: url(../img/choice3_2.jpg);
  }
  
  .dropdown-link-bg33 {
    background-image: url(../img/choice3_3.jpg);
  }
  
  .dropdown-link-bg34 {
    background-image: url(../img/choice3_4.jpg);
  }
  
  .dropdown-link-bg41 {
    background-image: url(../img/choice4_1.jpg);
  }
  
  .dropdown-link-bg42 {
    background-image: url(../img/choice4_2.jpg);
  }
  
  .dropdown-link-bg43 {
    background-image: url(../img/choice4_3.jpg);
  }
  
  .dropdown-link-bg44 {
    background-image: url(../img/choice4_4.jpg);
  }
  
  .dropdown-link-bg51 {
    background-image: url(../img/choice5_1.jpg);
  }
  
  .dropdown-link-bg52 {
    background-image: url(../img/choice5_2.jpg);
  }
  
  .dropdown-link-bg53 {
    background-image: url(../img/choice5_3.jpg);
  }
  
  .dropdown-link-bg54 {
    background-image: url(../img/choice5_4.jpg);
  }
  
  .simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: var(--color-black);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .dropdown-container.open .simplebar-track.simplebar-vertical {
    opacity: 1;
  }
  
  
  .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 0;
    opacity: 0;
    background-color: var(--color-white);
    transition: opacity 0.2s ease-in-out;
  }
  
  .dropdown-container.open .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    opacity: 1;
  }
  
  .search-form {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(-1px);
  }
  
  .search-form:active .search-field-form {
    border-color: var(--color-wisteria);
  }
  
  .search-form__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 219px;
    transition: width 0.3s ease-in-out;
  }
  
  .search-form__svg {
   margin-right: 7px;
   transform: translateY(3px);
  }
  
  .search-field-form {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    line-height: 25px;
    background: transparent;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
  }
  
  .search-field-form:focus-visible {
    border-color: var(--color-wisteria);
    outline: none;
    cursor: none;
  }
  
  .search-field-form:active {
    border-color: var(--color-studio);
  }
  
  .search-field-form:active::placeholder {
    color: transparent;
  }
  
  .search-field-form::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    line-height: 1;
    transition: color 0.3s ease-in-out;
  }
  
  .search-form__btn:focus-visible {
    outline: none;
  }



  /* HERO */  
.hero {
  position: relative;
  padding-top: 170px;
  min-height: 800px;
  color: var(--color-white);
}
.hero-swiper-container {
  width: 100%;
  overflow: hidden;
}

.hero-swiper-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero-swiper-slade {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
  animation: grow 8s ease-in-out infinite alternate;
  animation-name: resize;
}

.hero-swiper-slide-1 {
  background-image: url(../img/hero_main.jpg);
}

.hero-swiper-slide-2 {
  background-image: url(../img/hero_main1.jpg);
}

.hero-swiper-slide-3 {
  background-image: url(../img/hero_main2.jpg);
}

@keyframes grow {
  0% {background-size: 124%;}
  100% {background-size: 150%;}
}

.hero__container {
padding-top: 70px;
padding-bottom: 80px;
padding-left: 50px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);

}

.hero__tagline {
  display: block;
  margin-bottom: 19px;
  margin-top: 0;
  max-width: 37%;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
}

.hero__descr {
  margin-bottom: 92px;
  padding-left: 1px;
  max-width: 37%;
  color: var(--color-white);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  position: relative;
  padding: 19px 33px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.hero__btn::after {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border: 2px solid var(--color-wisteria);
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero__btn:focus-visible {
  outline: none;
}
.hero__btn:hover {
  border-color: var(--color-mauve);
}
.hero__btn:focus-visible::after {
  opacity: 1;
}

.hero__btn:active {
  background-color: var(--color-studio);
}

 /*US*/

.us__container {
    padding-top: 89px;
    padding-bottom: 69px;
      
  }
  
.us__title {
    margin-bottom: 25px;
    padding-left: 0;
  }
  
.us__descr {
    max-width: 1090px;
    padding-left: 0;
  }


  
/*Gallery*/
.gallery {
    background-image: url(../img/gallery.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .gallery__container {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
    padding-bottom: 70px;
    height: 100%;
  }
  
  .gallery-filter {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-left: 0;
  }
  
  .gallery__title {
    margin-bottom: 24px;
    color: var(--color-white);
  }
  
  .gallery-filter__label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  .gallery-filter__descr--wisteria:hover {
    border-color: currentColor;
    color: var(--color-amethyst);
    background-color: transparent;
  }
  .gallery__swiper-wrapper{
    padding-top: 10px;
  }
  .swiper-button-gray:hover .swiper-button-gray__background {
    fill: var(--color-amethyst);
    stroke: var(--color-amethyst);
  }

  .gallery-swiper-slide:hover::after {
    z-index: 2;
    opacity: 1;
  }

  .gallery-slide-img {
    display: block;
  }
  
  .choices {
    margin-bottom: auto;
  }
  
  .choices__inner {
    position: relative;
    min-height: 40px;
    border-radius: 6px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 16px;
    line-height: 14px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  .choices:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .choices__list--single {
    padding-left: 7px;
  }
  
  .choices__list--dropdown {
    border: 0;
    background-color: transparent;
  }

  .choices__list--dropdown .is-selected {
    display: none;
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
  }
  
  .is-open .choices__inner, .is-focused .choices__inner {
    border-radius: 6px;
    border-color: var(--color-white);
  }
  
  .choices__list--dropdown .choices__item {
    color: var(--color-nobel);
    border: 1px solid var(--color-nobel);
    border-top: 0;
  }
  
  .choices__list--dropdown .choices__item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .choices__list--dropdown .choices__item:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .choices[data-type*=select-one]:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;
    height: 7px;
    width: 7px;
    border:0;
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    pointer-events: none;
    transform: rotate(-45deg) translateY(-50%);
  }
  
  .choices[data-type*=select-one].is-open:after {
    margin-top: 0;
    right: 16px;
    border-color: var(--color-white);
    transform: rotate(135deg);
  }
  .categories__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .categories__label {
    color: var(--color-white);
  }
  
  .categories__input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  .categories__name {
    position: relative;
    display:flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    transition: color 0.3s ease-in-out;
  }
  
  .categories__input:checked + .categories__name {
    color: var(--color-wisteria);
  }
  
  .categories__name::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border: 1px solid currentColor;
    transition: border-color 0.3s ease-in-out;
  }
  
  .categories__input:checked + .categories__name::before {
    border-color: var(--color-wisteria);
  }
  
  .categories__name::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--color-wisteria);
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
  }
  
  .categories__input:checked + .categories__name::after {
    opacity: 1;
  }
  
  .categories__input:focus-visible + .categories__name {
    color: var(--color-wisteria);
  }
  
  .editions-button {
    display: flex;
    align-items: center;
    padding: 13px 0 18px 0;
  }
  
  .editions-button__prev,
  .editions-button__next {
    position: static;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  

  .gallery-filter__descr {
    color: var(--color-white);
    font-weight: 600;
  }
  
  .gallery-filter__descr--wisteria {
    border-bottom: 2px solid transparent;
    color: var(--color-wisteria);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .gallery-filter__descr--wisteria:focus-visible {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .gallery-filter__descr--wisteria:active {
    color: var(--color-studio);
    background-color: transparent;
  }
  
  .gallery-slider {
    position: relative;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 9px;
    width: 72%;
    height: auto;
    padding-left: 0;
  }
  
  .modal-close-btn:hover .modal-close-btn__svg_color {
    stroke: var(--color-amethyst);
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 0;
    height: 0;
  }
  
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  
  .gallery-button {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
  }
  
  .gallery-button__prev,
  .gallery-button__next {
    position: static;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0;
    border: none;
    background: transparent;
  }
  
  .gallery-button__prev {
    margin-right: 18px;
  }
  
  .gallery-button__pagination {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    width: auto;
    color: var(--color-white);
    font-size: 16px;
    line-height: 32px;
   margin-top: 0;
  }
  
  .swiper-button-prev:focus,
  .swiper-button-next:focus {
    outline: none;
  }
  
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
  
  .gallery-button__next.swiper-button-disabled,
  .gallery-button__prev.swiper-button-disabled {
    opacity: 0.5;
  }
  .event-button-next.swiper-button-disabled,
  .event-button-prev.swiper-button-disabled {
    opacity: 0;
   
  }
  
  .swiper-button-gray__background {
    transition-property: fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .swiper-button-gray:focus .swiper-button-gray__background {
    stroke: var(--color-black);
  }
  
  .swiper-button-gray:active .swiper-button-gray__background {
    fill: var(--color-wisteria);
    stroke: var(--color-studio);
  }
  
  .gallery-swiper-slide {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    
  }
  
  .gallery-swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    transition: opacity 0.3s ease-in-out;
  
  }
  
  .gallery-swiper-slide:active::before {
    opacity: 1;
  }

  .gallery-swiper-slide::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 86%;
    height: 86%;
    background-image: url(../img/gallery_slide_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: opacity 0.3s ease-in-out;
  }
  
  .gallery-swiper-slide:focus::after {
    z-index: 2;
    opacity: 1;
  }
  
  .gallery-swiper-slide:focus {
    outline: 3px solid #7943a4;
    
  }
  
  /*Catalog*/

  .catalog__container {
    padding-top: 88px;
    padding-bottom: 98px;
    padding-left: 50px;
    padding-right: 40px;
  }
  
  .catalog__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
  }
  
  .catalog-title {
    margin-right: 39px;
    padding-bottom: 25px;
  }
  
  
  .tab-content {
    display: none;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .tab-content_active {
    display: block;
    opacity: 1;
  }
  
  .tab-content__descr {
    margin-bottom: 39px;
    max-width: 1080px;
    line-height: 32px;
    color: var(--color-night-rider);
  }
  
  .catalog-content {
    display: flex;
    justify-content: space-between;
  }
  
  .artist-card {
    width: 47%;
  }
  
  .artist-card__img {
    margin-bottom: 28px;
  }
  
  .artist-card__name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-night-rider);
  }
  
  .artist-card__dates {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-nobel)
  }
  
  .artist-card__info {
    margin-bottom: 25px;
    line-height: 32px;
    color: var(--color-night-rider);
  }
  
  .artist-card__link {
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-amethyst);
    cursor: pointer;
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .artist-card__link:focus-visible {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .artist-card__link:active {
    color: var(--color-studio);
    background-color: transparent;
  }
  .artist-card__link:hover {
    border-color: var(--color-wisteria);
    color: var(--color-wisteria);
    background-color: transparent;
  }
  .accordion-wrap {
    width: 50.5%;

  }
  
  .accordion__btn:hover {
    border-color: currentColor;
    color: var(--color-amethyst);
    background-color: transparent;
  }

  .accordion-content__link:hover {
    border-color: var(--color-wisteria);
    color: var(--color-wisteria);
    background-color: transparent;
  }
  .ui-accordion-header {
    position: relative;
    padding: 41px 0 40px 0;
    cursor: pointer;
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .accordion__title {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-night-rider);
    transition: color 0.3s ease-in-out;
  }
  
  .ui-accordion-header::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--color-whisper);
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  
  .ui-accordion-header::after {
    content: '';
    position: absolute;
    top: 47%;
    right: 18px;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .ui-accordion-content {
    padding-top: 1px;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0;
   }
  .ui-accordion-header-collapsed {
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--color-vl-grey);
  }
  
  .ui-accordion-header-collapsed:first-child {
    border-top-color: var(--color-vl-grey);
  }
  
  .ui-state-focus {
    outline: none;
  }
  
  .ui-state-focus .accordion__title {
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .ui-state-focus::before {
    background-color: var(--color-mauve);
  }
  
  .ui-accordion-header:active {
    border-color: var(--color-studio);
  }
  
  .ui-accordion-header:active .accordion__title {
    color: var(--color-studio);
    background-color: transparent;
  }
  
  .ui-accordion-header:active::before {
    border: 2px solid var(--color-amethyst);
    background-color: var(--color-mauve);
  }
  .ui-accordion-header:focus{
    border-top:1px solid var(--color-studio);
    border-bottom:1px solid var(--color-studio);
  }
  
  .accordion__title:focus{
    border:3px solid var(--color-studio);
  }
  
  .ui-state-active .accordion__title {
    color: var(--color-amethyst);
    background-color: transparent;
  }
  
  .ui-accordion-header-active {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    color: var(--color-studio);
  }
  
  .ui-accordion-header-active::before  {
    border: 1px solid var(--color-amethyst);
    background-color: var(--color-mauve);
  }
  
  .ui-accordion-header-active::after  {
    transform: rotate(225deg);
  }
  
  .ui-accordion-content-active {
    border-bottom: 1px solid var(--color-amethyst);
  }
  
  .accordion__list {
    column-count: 3;
    padding-top: 26px;
    padding-right: 15px;
    max-width: 750px;
   padding-bottom: 25px;
  }
  
  .accordion__btn {
    padding-right: 2px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    text-align: left;
    color: var(--color-night-rider);
    line-height: 32px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
  }
  
  .accordion__btn:focus-visible {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .accordion__btn:active {
    border-color: transparent;
    color: var(--color-studio);
    background-color: transparent;
  }
  
  .accordion__btn_active {
    color: var(--color-amethyst);
  }
  
  .accordion-content {
    display: flex;
    align-items: center;
    padding: 25px 0;
  }
  
  .accordion-left-wrap {
    position: relative;
    margin-right: 24px;
    width: 34%;
    min-height: 189px;
    border: 2px solid var(--color-pink-sw);
  }
  
  .accordion-left-wrap:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
    display: inline-block;
    background-color: var(--color-pink-sw);
  }
  
  .accordion-right-wrap {
    width: 35%;
  }
  
  .accordion-content__title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-night-rider);
  }
  
  .accordion-content__info {
    margin-bottom: 5px;
    line-height: 22px;
    color: var(--color-night-rider);
  }
  
  .accordion-content__link {
    border-bottom: 2px solid transparent;
    color: var(--color-amethyst);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .accordion-content__link:focus-visible {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .accordion-content__link:active {
    color: var(--color-studio);
    background-color: transparent;
  }

  /*EVENTS*/

  .events {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    
  }
  
  .events__container {
    margin-bottom: 5px;
    
  }
  
  .events-swiper-container{
    overflow: visible;
    max-width: 1600px;
  }
  .events__title {
    margin-bottom: 24px;
    padding-top: 6px;
  }
  
  .events-slider {
    width: 100%;
  }
  .events__list {
    display: flex;
  }
  
  .events__item {
    display: flex;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-width: 500px;
    height: 700px;
  }

  .events__item_visible:nth-child(1n+4) {
    display: flex;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-vl-grey);
    
  }
  
  .event-card__bottom {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    min-height: 375px;
  }
  .event-button-prev {
    display: inline-block;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    transform: translateX(-250%);
    margin-top: -35px;
    position: absolute;
    border: none;
    background: transparent;
    
 }
 .event-button-next {
    display: inline-block;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-top: -35px;
    position: absolute;
    border: none;
    background: transparent;
 }
 


  .event-card__place,
  .event-card__time {
    display: block;
    text-align: left;
    color: var(--color-nobel);
    font-size: 12px;
    line-height: 16px;
    margin-left: 26px;
  }
  
  .event-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 25px 35px 23px;
    height: 100%;
  }
  
  .event-card__title {
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
    
  }
  
  .event-card__descr {
    margin-bottom: auto;
    color: var(--color-night-rider);
    line-height: 32px;
    overflow-y: auto;
  }
  .event-card__link:hover {
    box-shadow: none;
    color: var(--color-studio);
    background-color: transparent;
  }

  .event__btn:hover {
    border-color: var(--color-amethyst);
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .event__btn:hover::after {
    opacity: 0;
  }
  .event-card__link {
    line-height: 23px;
    border-bottom: 1px solid currentColor;
    color: var(--color-amethyst);
    transition-property: color, border-color, box-shadow, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .event-card__link:focus-visible {
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
    box-shadow: 0 0 0 8px var(--color-amethyst);
  }
  
  .event-card__link:active {
    color: var(--color-night-rider);
  }
  
  .event__btn {
    position: relative;
    padding: 15px 34px;
    border: 2px solid currentColor;
    color: var(--color-amethyst);
    background-color: var(--color-white);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .event__btn-invisible {
    display: none;
  }
  
  .event__btn::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px solid var(--color-wisteria);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .event__btn:focus-visible {
    outline: none;
  }
  
  .event__btn:focus-visible::after {
    opacity: 1;
  }
  
  .event__btn:active {
    padding: 14px 33px;
    border: 3px solid var(--color-mauve);
    color: var(--color-white);
    background-color: var(--color-studio);
  }
  
  .events-swiper-pagination .swiper-pagination-bullet {
    visibility: hidden;
  }

  

  
  

  /*PROJECTS*/

  .projects__container {
    margin-top: -15px;
    padding-bottom: 80px;
    padding-left: 50px;
  }
  
  .projects__title {
    margin-bottom: 25px;
  }
  
  .projects__info {
    margin-bottom: 18px;
    max-width: 1079px;
    color: var(--color-night-rider);
    line-height: 32px;
  }
  
  .projects-tooltip {
    display: inline-block;
    transform: translateY(3px);
  }
  .projects-tooltip__btn {
    position: relative;
  }
  
  .projects-tooltip .projects-tooltip__text {
    content: "";
    position: absolute;
    left: 50%;
    bottom: calc(100% + 6px);
    padding: 10px 7px;
    text-align: center;
    width: 264px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background-color: var(--color-amethyst);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    
  }
  
  .tippy-box[ data-theme~='style-tooltip']{
    background-color: var(--color-amethyst);
    color: white;
  }
  
  .projects-tooltip:hover .projects-tooltip__text,
  .projects-tooltip:hover .projects-tooltip__btn::before {
    visibility: visible;
    opacity: 1;
  }

  .projects-tooltip:hover .projects-tooltip__background {
    fill: var(--color-mauve);
  }

  .projects-site-link:hover {
    border-color: var(--color-amethyst);
    box-shadow: none;
    color: var(--color-amethyst);
    background-color: var(--color-white);
  }

  .swiper-button-light:hover:not(.swiper-button-disabled) .swiper-button-light__background {
    fill: var(--color-mauve);
    stroke: var(--color-mauve);
    transition-property: fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .partners-slide__logo:hover {
    filter: grayscale(0%);
    opacity: 1;
  }

  .projects-tooltip .projects-tooltip__text_3 {
    width: 242px;
  }
  
  .projects-tooltip__btn::before {
    content: "";
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 7px 0 7px;
    border-color: var(--color-amethyst) transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .projects-tooltip .projects-tooltip__color {
    transition: fill 0.3s ease-in-out;
  }
  
  .projects-tooltip .projects-tooltip__background {
    transition: fill 0.3s  ease-in-out;
    
  }
  
  .projects-tooltip .projects-tooltip__border {
    transition: stroke 0.3s ease-in-out;
    
  }
  
  .projects-tooltip__btn:focus {
    outline: none;
  }
  
  .projects-tooltip__btn:focus .projects-tooltip__background {
    fill: var(--color-mauve);
    
  }
  
  .projects-tooltip__btn:focus + .projects-tooltip__text,
  .projects-tooltip__btn:focus::before {
    visibility: visible;
    opacity: 1;
  }
  
  .projects-tooltip:active .projects-tooltip__text,
  .projects-tooltip:active .projects-tooltip__btn::before {
    visibility: visible;
    opacity: 1;
  }
  
  .projects-tooltip:active .projects-tooltip__color {
    fill: var(--color-white);
  }
  
  .projects-tooltip:active .projects-tooltip__background {
    fill: var(--color-amethyst);
  }
  
  .projects-tooltip:active .projects-tooltip__border {
    stroke: var(--color-amethyst);
  }
  
  .projects-site-link {
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: var(--color-amethyst);
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .projects-site-link:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--color-amethyst);
    outline: none;
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }
  
  .projects-site-link:active {
    border-color: var(--color-studio);
    box-shadow: none;
    color: var(--color-studio);
    background-color: var(--color-white);
  }
  
  .projects__subtitle {
    margin-bottom: 23px;
    padding-left: 1px;
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  
  .projects-slider{
    position: relative;
  }
  
  .projects-button__next,
  .projects-button__prev {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  
  .projects-button__next, .swiper-container-rtl .projects-button__prev {
    right: -10px;
  }
  
  .projects-button__prev, .swiper-container-rtl .projects-button__next {
    left: -11px;
  }
  
  .swiper-button-light__backgroud {
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
  }
  
  .swiper-button-light:focus-visible:not(.swiper-button-disabled) .swiper-button-light__background {
    stroke: var(--color-amethyst);
  }
  
  .swiper-button-light:active .swiper-button-light__backgroud {
    fill: var(--color-mauve);
    stroke: var(--color-amethyst);
  }
  
  .projects-button__next.swiper-button-disabled .swiper-button-light,
  .projects-button__prev.swiper-button-disabled .swiper-button-light {
    stroke: var(--color-unactive);
  }
  
  .projects-swiper-container {
    margin: 0 auto;
    max-width: 1460px;
  }
  
  .partners-slide__logo {
    display: block;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
    opacity: .4;
  }
  .partners-slide{
    height: 150px;
    border: 1px solid var(--color-vl-grey);
    box-sizing: border-box;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  /*CONTACTS*/  
  .contacts-left {
    display: flex;
    padding-right: 20px;
    width: 100%;
    border-top: 1px solid var(--color-vl-grey);
    border-bottom: 1px solid var(--color-vl-grey);
    padding-top: 5px;
    padding-bottom: 25px;
  }
  
  .contacts-left__box {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .contacts__title {
    margin-bottom: 22px;
    padding-left: 1px;
  }
  

  .office-title {
    margin-bottom: 3px;
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  
  .office-address {
    color: var(--color-night-rider);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
   .contacts-form{
     margin-left: 114px;
   }
   .form-address{
     margin-top: -10px;
     margin-right: 80px;
     margin-left: 45px;
     
   }
   
  .contacts-form__fieldset {
    display: flex;
    margin-top: 52px;
  }
  
  .messengers {
    margin-top: -14px;
    margin-left: -18px;
    flex-shrink: 0;
  }
  .contacts__container {
   max-width: 1920px;
   margin: 0 auto;
  }
  
  
  .contacts-form__label {
    display: inline-block;
    margin-bottom: 23px;
    max-width: 300px;
    margin-right: 20px;
  }
  
  .contacts-form__input {
    padding-left: 22px;
    width: 270px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid var(--color-night-rider);
    transition: background-color 0.3s ease-in-out;
  }
  
  .contacts-form__input::placeholder {
    color: var(--color-nobel);
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
  }
  
  .contacts-form__input:focus-visible {
    outline: none;
    background-color: var(--color-whisp);
  }
  
  .contacts-form__input:active {
    background-color: transparent;
  }
  
  .js-validate-error-label {
    position: absolute;
    font-size: 12px;
    line-height: 16px;
    margin-top: -70px;
  }
  
  .contacts-form__btn {
    align-self: flex-start;
    padding: 10px 33px;
    margin-right: 100px;
    color: var(--color-amethyst);
    font-size: 18px;
    line-height: 25px;
    transition-property: color, border-color, background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    flex-shrink: 0;
  }
  
  .contacts-form__btn::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px solid var(--color-wisteria);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .contacts-form__btn:focus-visible{
    outline: none;
  }
  
  .contacts-form__btn:focus-visible::after {
    opacity: 1;
  }
  
  .contacts-form__btn:active {
    color: var(--color-white);
    border: 3px solid var(--color-mauve);
    background-color: var(--color-studio);
  }
  .btn-invisible{
    display: inline-flex;
  }
  
  
  .messengers__title {
    margin-bottom: 5px;
    color: var(--color-night-rider);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  
  .messengers__list {
    display: flex;
    align-items: center;
  }
  
  .messengers__item:first-child {
    margin-right: 21px;
  }
  
  .messenger-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    box-shadow: 0 0 0 1px transparent;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .messenger-link:hover {
    opacity: 0.6;
  }
  .messenger-link:focus-visible {
    outline: none;
    opacity: 0.6;
  }
  
  .messenger-link:active {
    box-shadow: 0 0 0 1px #9643A4;
    opacity: 1;
  }
  
  .contacts-right {
    width: 100%;
    height: 700px;
  }
  
  [class*="ground-pane"] {
    filter: grayscale(1);
  }
  .about-project-hidden{
    display: none;
  }
  /*FOOTER*/

  .footer {
    background-color: var(--color-black);
  }
  
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-left: 50px;
   padding-right: 50px;
  }
  
  .footer__logo {
    padding: 49px 0;
    transform: translateX(1px);
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .social__item:not(:last-child) {
    margin-right: 21px;
  }
  
  .social-svg-bg {
    transition: fill 0.3s ease-in-out;
  }
  
  .social__link:focus-visible {
    outline: none;
    fill: var(--color-white);
  }
  
  .social__link:focus-visible .social-svg-bg {
    fill: var(--color-amethyst);
  }
  
  .social__link:hover .social-svg-bg {
    fill: var(--color-white);
  }

  .social__link:active .social-svg-bg {
    fill: var(--color-amethyst);
  }
  
